*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
}

h1{
    font-size: 7rem;
}

p{
    color: #637381;
}


/*****************
    UTILITY RULES
*******************/

.clearfix{
    content: "";
    display: table;
    clear: both;
}


.header ul{
    list-style-type: none;
}

.header a{
    text-decoration: none;    
    font-size: 1rem;
    color: #1C1C1C;
    font-weight: bold;
}

.header li{
    display: inline-block;
    padding: 0 25px;
}

.btn_header{
    color: white;
    background-color: #0061FF;
    border: none;
    padding: 8px 20px;
}


a.btn{
    color: white;
    text-decoration: none;
    background:#0061ff ;
    padding: 0px 70px;
    outline: none;
    display: inline-block;
}

a.btn2{
    color: #637381;
    border: 1px solid #637381;
    text-decoration: none;
    background:white;
    padding: 13px 35px;
    outline: none;
    display: inline-block;
}

.container h2{
    font-size: 3.7rem;
    padding-bottom: 50px;
}

.far, .fas {
    padding-right: 10px;  
}




/*****************
    HEADER
******************/
.nav{
    position: relative;
    width: 100%;
}

.header{
    background-color: white;
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: fixed;
    top: 0;
    right: 0;
}

.dropbox{
    float: left;
    width: 5%;
    padding-top: 5px;
    margin: 0 20px;
}

.funzioni{
    float: left;
    width: 45%;
    text-align: left;
}

.supporto{
    float: left;
    width: 45%;
    text-align: right;
}

.inizia{
    float: left;
    width: 3%;
    text-align: right;
}


/*****************
 SECTION  JUMBO
******************/

main{
    margin-top: 100px;
}

#site_main{
    background-color: #B4D0E7;
    margin-bottom: 400px;
}

.main_container{
    padding-bottom: 500px;
    width: 75%;
    margin: auto;
}

.main_sx{
    float: left;
    width: 25%;
    padding-top: 40px;
}

.main_dx{
    position: relative;
    float: left;
    width: 70%;
    padding-top: 40px;
    padding-left: 100px;
}

.jumbo{
    height: 800px;
    width: auto;
    position: absolute;
}


/**********************
SECTION PIANI_BUSINESS
***********************/

.container60{
    width: 60%;
    margin: auto;
}

.fatturazione{
    margin-bottom: 40px;
}
.colonna{
    float: left;
    width: 30%;
    height: 1100px;
    border: 1px solid #D0D0D3;
    line-height: 50px;

}
.singolo{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 5px 0;
    border-bottom: 1px solid #D0D0D3;
}
.user{
    padding-right: 8px;
}

.planes{
    padding: 40px 40px;
}

.colonna_vert{
    float: left;
    width: 100%;
    height: 300px;
    border: 1px solid #D0D0D3;
    line-height: 50px;
    margin-bottom: 300px;
}

.colonna_vert .btn{
    margin-left: 1010px;
    
}




/**********************
Entra in contatto
***********************/



.col50{
    float: left;
    width: 50%;
    margin: 30px 0;
}

.col30{
    float: left;
    width: 40%;
    padding: 20px 60px;
    margin: 30px 0;
}

.partner{
    width: 100%;
    height: auto;
}

.container60 h2{
    font-size: 3.5rem;
    margin: 80px 0;
}

.col33{
    float: left;
    width: 30%;
    height: 700px;
    
}

.img33{
    width: 100%;
    height: auto;
}

.row h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

.colonna_verx{
    float: left;
    width: 100%;
    height: 300px;
    line-height: 50px;
    margin-bottom: 300px;
}

.colonna_verx h3{
    font-size: 2.5rem;
    margin-bottom: 30px;
}












/*****************
    DEBUG
******************/
/* .debug.container60{
    background-color: black;
    height: 400px;
    
}

.debug .col50x{
    float: left;
    width: 50%;
    height: 400px;
    background-color: green;
}

.debug .container60 .col33{
    float: left;
    width: 30%;
    height: 300px;
    background-color: greenyellow;
}

.debug .row{
    margin: 50px 0;
    
} */


/* Debug designit */

.debug .container100{
    width: 100%;
    height: 1000px;
}

.debug .container_square4{
    float: left;
    width: 30%;
    height: 600px;
}

.debug .square1{
    float: left;
    width: 50%;
    height: 300px;
    background-color: lightgreen;
}

.debug .square2{
    float: left;
    width: 50%;
    height: 300px;
    background-color: brown;
}

.debug .square3{
    float: left;
    width: 50%;
    height: 300px;
    background-color: lightblue;
}

.debug .square4{
    float: left;
    width: 50%;
    height: 300px;
    background-color: red;
}
.debug .container_designit{
    float: left;
    width: 40%;
    height: 600px;
    background-color: lightgray;
}

.debug .container_square4{
    float: left;
    width: 30%;
    height: 600px;
}

.debug .colonna_vert{
        float: left;
        width: 100%;
        height: 300px;
        line-height: 50px;
        margin-bottom: 300px;
        background-color: lightskyblue;
    }
