*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
}

h1{
    font-size: 7rem;
}



/*****************
    UTILITY RULES
*******************/

.clearfix{
    content: "";
    display: table;
    clear: both;
}


.header ul{
    list-style-type: none;
}

.header a{
    text-decoration: none;    
    font-size: 1rem;
    color: #1C1C1C;
    font-weight: bold;
}

.header li{
    display: inline-block;
    padding: 0 25px;
}

.btn_header{
    color: white;
    background-color: #0061FF;
    border: none;
    padding: 8px 20px;
}

.btn{
    color: white;
    background-color: #0061FF;
    border: none;
    padding: 8px 20px;
    margin: 25px 0;
}

.piani_business p{
    display: inline-block;
    padding: 0 10px;
}

.container h2{
    font-size: 3.7rem;
    padding-bottom: 50px;
}







/*****************
    HEADER
******************/
.nav{
    position: relative;
    width: 100%;
}

.header{
    background-color: white;
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: fixed;
    top: 0;
    right: 0;
}

.dropbox{
    float: left;
    width: 5%;
    padding-top: 5px;
    margin: 0 20px;
}

.funzioni{
    float: left;
    width: 45%;
    text-align: left;
}

.supporto{
    float: left;
    width: 45%;
    text-align: right;
}

.inizia{
    float: left;
    width: 3%;
    text-align: right;
}


/*****************
 SECTION  JUMBO
******************/

main{
    margin-top: 100px;
}

#site_main{
    background-color: #B4D0E7;
    margin-bottom: 200px;
}

.main_container{
    padding-bottom: 500px;
    width: 75%;
    margin: auto;
}

.main_sx{
    float: left;
    width: 25%;
    padding-top: 40px;
}

.main_dx{
    position: relative;
    float: left;
    width: 70%;
    padding-top: 40px;
    padding-left: 100px;
}

.jumbo{
    height: 800px;
    width: auto;
    position: absolute;
}


/**********************
SECTION PIANI_BUSINESS
***********************/

.container{
    width: 70%;
    margin: auto;
}

.fatturazione{
    margin-bottom: 40px;
}
.colonna{
    float: left;
    width: 25%;
    height: 500px;
    border: 1px solid #D0D0D3;
    margin-right: 59px;
}

.singolo{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;

}








/*****************
    DEBUG
******************/

.header{
    
}